body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    width: 50%;
}

main {
    padding: 24px;
    background-color: #262439;   
    border-radius: 15px;
    padding: 16px;
    font-family: 'Helvetica';
    letter-spacing: 0.02em;
}

header {
    /* background-color: #262439; */
    color: #262439;
    text-align: center;
    padding: 24px;
    /* margin-left: 100px;
    margin-right: 100px; */
    border-radius: 10px;
    font-family: 'Helvetica Rounded';
}
h1{
    font-size: xx-large;
}
#input-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 16px;
}
label{
    margin: 5px 0;
    font-size: medium;
}
input{
    margin: 8px 0;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 24px;
    font-size: medium;
    outline: none;
}
input:focus{
    border-color: #FFC448;
}
.reset-container{
    padding-top: 48px;
    display: flex;
    justify-content: right;
}
#input-button-secion{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.other-button-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;

}
.lebar{
    width: 100%;
}
button{
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    font-size: medium;
    border: none;
}
button:hover{
    opacity: 80%;
}
button:active{
    transform: translateY(-2px);
    
}
.button-primary{
    background-color: #FFC448;
}
.button-secondary{
    background-color: #6344C6;
    color: white    ;
}
.button-red{
    background-color: red;
    color: white;
}
